<html>
    <head>
        <link rel="stylesheet" href="/static/stylefinal1.css">
    </head>
    <body>
        {% block navbar %}
        <nav>
            <h1>Word List Program for Kendra Krosch</h1>
        </nav>
        {% endblock %}
        {% block content %}
        default content
        {% endblock %}
        {% block footer %}
        <div class="space"></div>
        <footer>
            <p>Link to github repository: <a href="https://github.com/krosc028/krosc028.github.io">
                https://github.com/krosc028/krosc028.github.io</a> </p>
        </footer>
        {% endblock %}

        {% block script %}
        {% endblock %}
    </body>
</html>